#form {
    width: 250px;
    margin: auto;
    height: 250px;

  }
  
  #form p {
    text-align: center;
    
  }
  
  #form label {
    font-size: 250px;
   
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
    font-size: 100px;
    font-size: 8rem;
    text-align: center;
    margin: 4%;
    display: inline-block;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover, label:hover ~ label {
    color: orange;
    
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
   
}

  img{
    display:block;
    margin:auto;
    text-align: center;
    
  }

  button{
    display: block;
    text-align: center;
    margin: 35%;
    font-size: 50px;
    font-size: 5rem;
    height: 150px;
    width: 250px;
}
h1{
    text-align: center;
    margin: 3%;
    font-size: 50px;
    font-size: 5rem;
    height: 150px;
    font-family: Georgia;
}